{sub_dirs, [ "rel" ]}.

{erl_opts, [debug_info,
			fail_on_warning,
            {src_dirs, ["src", "src/handlers"]}
           ]}.

{require_otp_vsn, "17"}.

{deps_dir, ["deps"]}.

{deps,
  [ { service_agent,
      ".*",
      { git,
        "/Users/spiegela/src/proj/cf/erlang_service_agent",
        { branch, "master" }
       }
    },
    { jiffy,
      ".*",
      { git,
        "https://github.com/davisp/jiffy",
        { branch, "master" }
      }
    },
    { cowboy,
      ".*", 
      { git,
        "https://github.com/extend/cowboy.git",
        { branch, "master" }
      }
    },
    { ossp_uuid,
      ".*",
      { git,
        "git://github.com/yrashk/erlang-ossp-uuid.git",
        { branch, "master"}
      }
    }
  ]
}.