{sub_dirs, [ "rel" ]}.

{erl_opts, [debug_info,
			fail_on_warning,
            {src_dirs, ["src", "src/handlers"]}
           ]}.

{require_otp_vsn, "17"}.

{deps_dir, ["deps"]}.



{deps,
  [
    {jiffy,  ".*",  {git, "https://github.com/davisp/jiffy", {branch, "master"}}},
    {cowboy, ".*",  {git, "https://github.com/extend/cowboy.git", {branch, "1.0.x"}}}
  ]
}.